<div style="text-align: center;">
  <h1>Upload Pics Of Your Clothing</h1>
</div>

<a href="/dashboard" class="btn btn-primary">Back to Dashboard</a>

<div style="text-align: center;">
<%= form_with(model: @clothing, url: insert_clothing_path, local: true) do |form| %>
  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>
  <%= form.submit "Upload" %>
<% end %>
</div>
