<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">The Wardrobe App</a>
    <ul class="navbar-nav ml-auto">
        <% if @current_user %>
      <%= link_to "Back to Dashboard", user_dashboard_path, class: "btn btn-primary" %>
    <% end %>
      <% if @current_user.present? %>
        <li class="nav-item">
          <a class="nav-link" href="/user_sign_out">Sign Out</a>
        </li>
      <% else %>
        <li class="nav-item">
          <a class="nav-link" href="/user_sign_in">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user_sign_up">Sign Up</a>
        </li>
      <% end %>
    </ul>
    <div class="ml-auto">
      <form class="d-flex" role="search">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
