<div id="mySidepanel" class="sidepanel">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">Home</a>
  <a href="#">Dashboard</a>
  <a href="#">Upload</a>
  <a href="#">Generate</a>
</div>

<button class="openbtn" onclick="toggleNav()">&#9776; Menu</button>

