<%= render "dashboard/nav" %>
<div style="text-align: center;">
<h1>Generate Your Outfit</h1>
</div>
<a href="/dashboard" class="btn btn-primary">Back to Dashboard</a>


<% if @top %>
  <h3>Top:</h3>
  <%= image_tag @top.image_url %>
<% end %>

<% if @bottom %>
  <h3>Bottom:</h3>
  <%= image_tag @bottom.image_url %>
<% end %>

<% if @shoes %>
  <h3>Shoes:</h3>
  <%= image_tag @shoes.image_url %>
<% end %>
