<!DOCTYPE html>
<html>

<head>
  <title>The Wardrobe App</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<div class="container" style="background-image: url('path/to/your/image.jpg'); background-size: cover;">
  <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <h1>Welcome To The Wardrobe App</h1>
  </div>
</div>


<body data-bs-spy="scroll" data-bs-target=".navbar-expand-sm" data-bs-offset="50">

  <nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">The Wardrobe App</a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/user_sign_up">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user_sign_in">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user_sign_out">Sign Out</a>
        </li>
      </ul>
      <form class="form-inline ml-auto">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <div id="section1" class="container-fluid bg-primary text-white" style="padding:100px 20px;">
    <h1>Step 1</h1>
    <p>Upload images of your Wardrobe!</p>
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at
      the navigation bar while scrolling!</p>
  </div>

  <div id="section2" class="container-fluid bg-primary text-white" style="padding:100px 20px;">
    <h1>Step 2</h1>
    <p>Let us generate your outfit!</p>
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at
      the navigation bar while scrolling!</p>
  </div>

  <div id="section3" class="container-fluid bg-primary text-white" style="padding:100px 20px;">
    <h1>Step 3</h1>
    <p>Never waste time thinking about what you should wear again!</p>
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at
      the navigation bar while scrolling!</p>
  </div>


  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
