<!DOCTYPE html>
<html>

<head>
  <title>The Wardrobe App</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<div class="container" style="background-image: url('path/to/your/image.jpg'); background-size: cover;">
  <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <h1>Welcome To The Wardrobe App!</h1>
  </div>
</div>

<body data-bs-spy="scroll" data-bs-target=".navbar-expand-sm" data-bs-offset="50">
  <div id="section1" class="container-fluid bg-primary text-white" style="padding:100px 20px;">
    <h1>Step 1</h1>
    <p>Upload images of your Wardrobe!</p>
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at
      the navigation bar while scrolling!</p>
  </div>

  <div id="section2" class="container-fluid bg-primary text-white" style="padding:100px 20px;">
    <h1>Step 2</h1>
    <p>Let us generate your outfit!</p>
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at
      the navigation bar while scrolling!</p>
  </div>

  <div id="section3" class="container-fluid bg-primary text-white" style="padding:100px 20px;">
    <h1>Step 3</h1>
    <p>Never waste time thinking about what you should wear again!</p>
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at
      the navigation bar while scrolling!</p>
  </div>
</body>
</html>
