<div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Welome To The Wardrobe App</h1>
        <p class="col-md-8 fs-4">Unlock Your Style Potential: Discover Personalized Fashion Inspiration and Endless Outfit Possibilities with The Wardrobe App!</p>
         <p><a class="btn btn-primary btn-lg" href="/user_sign_up" role="button">Get Started</a></p>
      </div>
    </div>

<div id="section1" class="container-fluid bg-primary text-white" style="padding:100px 20px;">
  <h1>Step 1</h1>
  <p>Sign Up for an user account:</p>
  <p>Transform Your Style: Create an Account and Unlock the Door to Fashion Brilliance!</p>
</div>

<div id="section2" class="container-fluid bg-primary text-white" style="padding:100px 20px;">
  <h1>Step 2</h1>
  <p>Upload your wardrobe:</p>
  <p>Revamp Your Closet: Capture Your Wardrobe's Essence and Elevate Your Fashion Game!</p>
</div>

<div id="section3" class="container-fluid bg-primary text-white" style="padding:100px 20px;">
  <h1>Step 3</h1>
  <p>Let us generate your outfits:</p>
  <p>Ignite Your Style Revolution: Unleash Artificial Intelligence to Generate Showstopping Outfits That Define Your Unique Fashion Persona!</p>
</div>

<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
