<h1>Welcome to The Wardrobe App!</h1>
<p>Let's us generate your ensamble for the day!</p>

<!-- Sign Up Button -->
<a href="/signup">Sign Up</a>

<!-- Sign In Button -->
<a href="/signin">Sign In</a>

<!-- Sign Out Button -->
<a href="/signout">Sign Out</a>
