<div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Welome To The Wardrobe App</h1>
        <p class="col-md-8 fs-4">Unlock Your Style Potential: Discover Personalized Fashion Inspiration and Endless Outfit Possibilities with The Wardrobe App!</p>
         <p><a class="btn btn-primary btn-lg" href="/user_sign_up" role="button">Get Started</a></p>
      </div>
    </div>

<div id="section1" class="container-fluid bg-primary text-white" style="padding:100px 20px;">
  <h1>Step 1</h1>
  <p>Sign Up for an user account:</p>
  <p>Transform Your Style: Create an Account and Unlock the Door to Fashion Brilliance!</p>
</div>

<div id="section2" class="container-fluid bg-primary text-white" style="padding:100px 20px;">
  <h1>Step 2</h1>
  <p>Upload your wardrobe:</p>
  <p>Revamp Your Closet: Capture Your Wardrobe's Essence and Elevate Your Fashion Game!</p>
</div>

<div id="section3" class="container-fluid bg-primary text-white" style="padding:100px 20px;">
  <h1>Step 3</h1>
  <p>Let us generate your outfits:</p>
  <p>Ignite Your Style Revolution: Unleash Artificial Intelligence to Generate Showstopping Outfits That Define Your Unique Fashion Persona!</p>
</div>
