<div style="text-align: center;">
  <h1>Welcome To Your Profile!</h1>
</div>


<p>Name: <%= @user.name %></p>
<p>Email: <%= @user.email %></p>
<!-- Include other user information you want to display -->

<a href="/dashboard" class="btn btn-primary">Back to Dashboard</a>
