<%= render "dashboard/nav" %>
<div style="text-align: center;">
  <h1>Welcome To Your Profile!</h1>
</div>

<p>User Name: <%= @user_id %></p>
<p>Email: <%= @user.email %></p>

<!-- Include other user information you want to display -->

<div class="card text-white bg-primary mb-3 mx-auto" style="max-width: 20rem;">
  <div class="card-header text-center">Darryl Williams</div>
  <div class="card-body text-center">
    <h4 class="card-title">Username: @dwill</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
